.SM_heading{
    width: 100%;
    font-size: 22px;
    color: black;
}

.SM_main_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}